# Fala devs, blz??

Esta será nossa quinta lista de exercícios para você testar seu conhecimento acerca do conteúdo do MÓDULO 3:

-Pandas I

Para esta lista de exercícios utilizaremos uma base de dados contendo informações sobre a performance de alunos em exames
. A base de dados está disponível para download na plataforma Kaggle a partir do link abaixo:

https://www.kaggle.com/datasets/spscientist/students-performance-in-exams

## QUESTÃO 0

Carregue os dados do arquivo "StudentPerformance.csv" em um DataFrame com nome "df" e mostre as primeiras suas 10 primeiras linhas.
<br>
*Certifique-se de que o arquivo se encontra no mesmo diretorio da lista 5.

In [105]:
import pandas as pd
import os

os.chdir('C:\\Users\\Enrico\\Desktop\\pandas-dev') # precisei fazer isso aqui utilizando 'os' pq o dataframe não estava abrindo.

#seu código começa aqui

df = pd.read_csv("StudentsPerformance.csv")

df.head(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
5,female,group B,associate's degree,standard,none,71,83,78
6,female,group B,some college,standard,completed,88,95,92
7,male,group B,some college,free/reduced,none,40,43,39
8,male,group D,high school,free/reduced,completed,64,64,67
9,female,group B,high school,free/reduced,none,38,60,50

Agora mostre as 10 **últimas** linhas do DataFrame.

In [106]:
#SEU CÓDIGO COMEÇA AQUI

df.tail(10)

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
990,male,group E,high school,free/reduced,completed,86,81,75
991,female,group B,some high school,standard,completed,65,82,78
992,female,group D,associate's degree,free/reduced,none,55,76,76
993,female,group D,bachelor's degree,free/reduced,none,62,72,74
994,male,group A,high school,standard,none,63,63,62
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

## QUESTÃO 1

**Exploração Inicial dos Dados**

a) Verifique o número de linhas e colunas no DataFrame. **(.shape)**

In [107]:
#SEU CÓDIGO COMEÇA AQUI

df.shape # temos mil linhas e 8 colunas

(1000, 8)

b) Liste as colunas presentes no DataFrame. **(.columns)**

In [108]:
#SEU CÓDIGO COMEÇA AQUI

df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

c) Verifique se há valores nulos em cada coluna.

In [109]:
#SEU CÓDIGO COMEÇA AQUI

df.isnull().any() # não há valores nulos em nenhuma coluna.

gender                         False
race/ethnicity                 False
parental level of education    False
lunch                          False
test preparation course        False
math score                     False
reading score                  False
writing score                  False
dtype: bool

## QUESTÃO 2

a) Antes de começarmos a trabalhar com os dados é preciso descartar dados que não serão utilizados em nossa análise. Utilize a lista abaixo para remover colunas irrelevantes.

In [110]:
remover = ["parental level of education","lunch"]

#SEU CÓDIGO COMEÇA AQUI

df = df.drop(columns=remover)
df # note: agora só há 6 colunas no nosso dataframe.

,gender,race/ethnicity,test preparation course,math score,reading score,writing score
0,female,group B,none,72,72,74
1,female,group C,completed,69,90,88
2,female,group B,none,90,95,93
3,male,group A,none,47,57,44
4,male,group C,none,76,78,75
...,...,...,...,...,...,...
995,female,group E,completed,88,99,95
996,male,group C,none,62,55,55
997,female,group C,completed,59,71,65
998,female,group D,completed,68,78,77
999,female,group D,none,77,86,86

b) Agora utilize o dicionário abaixo para renomear as colunas restantes.

In [111]:
nome_colunas = {
    "gender": "Gênero",
    "race/ethnicity": "Raça/Etnia",
    "test preparation course": "Curso_Prep",
    "math score" : "Nota_Matemática",
    "reading score":"Nota_Leitura",
    "writing score" : "Nota_Redação"
}

#SEU CÓDIGO COMEÇA AQUI

df = df.rename(columns=nome_colunas)
print(df) # agora as colunas estão com os nomes determinados.

     Gênero Raça/Etnia Curso_Prep  Nota_Matemática  Nota_Leitura  Nota_Redação
0    female    group B       none               72            72            74
1    female    group C  completed               69            90            88
2    female    group B       none               90            95            93
3      male    group A       none               47            57            44
4      male    group C       none               76            78            75
..      ...        ...        ...              ...           ...           ...
995  female    group E  completed               88            99            95
996    male    group C       none               62            55            55
997  female    group C  completed               59            71            65
998  female    group D  completed               68            78            77
999  female    group D       none               77            86            86

[1000 rows x 6 columns]

## QUESTÃO 3

Crie um DataFrame com as estatísticas descritivas de cada coluna com valores númericos. Estatísticas descritivas incluem dados como: média, mediana, desvio padrão, mínimo e máximo para cada uma dessas colunas.

In [113]:
#SEU CÓDIGO COMEÇA AQUI

# para isso, podemos utilizar .describe():

df.describe()

       Nota_Matemática  Nota_Leitura  Nota_Redação
count       1000.00000   1000.000000   1000.000000
mean          66.08900     69.169000     68.054000
std           15.16308     14.600192     15.195657
min            0.00000     17.000000     10.000000
25%           57.00000     59.000000     57.750000
50%           66.00000     70.000000     69.000000
75%           77.00000     79.000000     79.000000
max          100.00000    100.000000    100.000000

## QUESTÃO 4

Crie um novo DataFrame contendo apenas os alunos que tiveram nota maior que a média em todos os exames chamado "df_acima_media". Mostre o DataFrame resultante e quantos dos alunos totais estão na nova tabela.

In [115]:
#SEU CÓDIGO COMEÇA AQUI

# aqui estamos utilizando uma condição booleana para considerar apenas os alunos cujas notas sejam maiores que as respectivas médias da disciplina, 
# utilizando .mean(), simultaneamente. 

df_acima_media = df[(df['Nota_Matemática'] > df['Nota_Matemática'].mean()) & 
                    (df['Nota_Leitura'] > df['Nota_Leitura'].mean()) & 
                    (df['Nota_Redação'] > df['Nota_Redação'].mean())]

df_acima_media

     Gênero Raça/Etnia Curso_Prep  Nota_Matemática  Nota_Leitura  Nota_Redação
0    female    group B       none               72            72            74
1    female    group C  completed               69            90            88
2    female    group B       none               90            95            93
4      male    group C       none               76            78            75
5    female    group B       none               71            83            78
..      ...        ...        ...              ...           ...           ...
989  female    group D  completed               67            86            83
990    male    group E  completed               86            81            75
995  female    group E  completed               88            99            95
998  female    group D  completed               68            78            77
999  female    group D       none               77            86            86

[374 rows x 6 columns]

## QUESTÃO 5

Crie uma nova coluna no Dataframe "df" com o nome "Nota_Geral" que represente a média da nota de cada aluno nas 3 disciplinas. Utilize esta nova coluna para ordenar os alunos de acordo com sua nota de forma que o aluno com maior nota geral esteja na primeira linha do DataFrame.

In [116]:
#SEU CÓDIGO COMEÇA AQUI

# definimos uma nova coluna, 'Nota_Geral' como a média das outras 3 notas. o parâmetro (axis = 1) está ali 
# para indicar que deve ser calculada a média para cada linha do df (cada pessoa individualmente).

df['Nota_Geral'] = df[['Nota_Matemática', 'Nota_Leitura', 'Nota_Redação']].mean(axis=1)

# a função .sort_values() ordena as linhas do dataframe, e ascending = False indica que é em ordem decrescente. 

df = df.sort_values(by='Nota_Geral', ascending=False)

df

,Gênero,Raça/Etnia,Curso_Prep,Nota_Matemática,Nota_Leitura,Nota_Redação,Nota_Geral
916,male,group E,completed,100,100,100,100.000000
458,female,group E,none,100,100,100,100.000000
962,female,group E,none,100,100,100,100.000000
114,female,group E,completed,99,100,100,99.666667
179,female,group D,completed,97,100,100,99.000000
...,...,...,...,...,...,...,...
76,male,group E,none,30,26,22,26.000000
327,male,group A,none,28,23,19,23.333333
596,male,group B,none,30,24,15,23.000000
980,female,group B,none,8,24,23,18.333333
59,female,group C,none,0,17,10,9.000000

## QUESTÃO 6

a) Conte quantos dos alunos pertencem a cada gênero.

In [117]:
#SEU CÓDIGO COMEÇA AQUI

# para todos os itens da questão 6 podemos utilizar a função .value_counts(), que conta quantas vezes cada valor aparece em uma coluna de um dataframe.

genero = df['Gênero'].value_counts()

genero

Gênero
female    518
male      482
Name: count, dtype: int64

b) Conte quantos dos alunos pertencem a cada Raça/Etnia.

In [118]:
#SEU CÓDIGO COMEÇA AQUI

etnia = df['Raça/Etnia'].value_counts()

etnia

Raça/Etnia
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

c) Conte quantos dos alunos realizaram ou não algum curso preparatório.

In [119]:
#SEU CÓDIGO COMEÇA AQUI

curso = df['Curso_Prep'].value_counts()

etnia

Raça/Etnia
group C    319
group D    262
group B    190
group E    140
group A     89
Name: count, dtype: int64

## QUESTÃO 7

Neste exercício deseja-se observar se o gênero de um aluno tem influência sobre seu acesso a cursos preparatórios. Para realizar esta tarefa agrupe os alunos de acordo com seus respectivos genêros (.groupby) e obtenha as proporções daqueles que realizaram algum curso e aqueles que não para cada um dos grupos (para obter a contagem da frequência relativa de um valor utilize **normalize=True**).

In [120]:
#SEU CÓDIGO COMEÇA AQUI

grupos_genero = df.groupby('Gênero')['Curso_Prep'].value_counts(normalize=True)

grupos_genero

# nota-se que a proporção de pessoas que fazem curso preparatório é relativamente constante entre homens e mulheres.

Gênero  Curso_Prep
female  none          0.644788
        completed     0.355212
male    none          0.639004
        completed     0.360996
Name: proportion, dtype: float64

## QUESTÃO 8

Neste exercício deseja-se observar qual das disciplinas examindas (Matemática, Leitura, Redação) é mais influênciada por cada um dos fatores qualitivos (Gênero, Raça/Etnia, Realização de Curso Preparatório). Para isso, agrupe a base de dados para cada um dos fatores qualitativos e calcule a diferença entre a maior e menor nota média em cada uma das disciplinas. A disciplina que possuir maior diferença entre as notas médias será considerada a mais influênciada.

a) Qual disciplina possui a maior diferença entre as notas médias de homens e mulheres.

In [121]:
#SEU CÓDIGO COMEÇA AQUI

# primeiro utilizamos .groupby() para selecionar a variável controle de interesse, e pegamos a média de matemática, redação e leitura.
# esse procedimento se repetirá nos próximos exercícios até o exercício 9.
medias_por_genero = df.groupby('Gênero')[['Nota_Matemática', 'Nota_Leitura', 'Nota_Redação']].mean()

# agora definimos as diferenças como o valor máximo menos o valor mínimo entre os dois gêneros.
diferencas = medias_por_genero.max() - medias_por_genero.min()

# puxamos a disciplina mais influenciada utilizando .idxmax(), que diferentemente de .max(), pega o ÍNDICE referente ao maior valor, que é o que nos interessa.
disciplina_mais_influenciada = diferencas.idxmax()
disciplina_mais_influenciada

'Nota_Redação'

b) Qual disciplina possui a maior diferença entre a maior e menor nota média dentre as diferentes Raças/Etnias.

In [122]:
#SEU CÓDIGO COMEÇA AQUI

# mesmo procedimento, mudando apenas o subgrupo de controle. 

medias_por_raca = df.groupby('Raça/Etnia')[['Nota_Matemática', 'Nota_Leitura', 'Nota_Redação']].mean()

diferencas = medias_por_raca.max() - medias_por_raca.min()

disciplina_mais_influenciada = diferencas.idxmax()
disciplina_mais_influenciada

disciplina_mais_influenciada

'Nota_Matemática'

c) Qual disciplina possuir a maior diferença entre as notas médias daqueles que realizaram ou não cursos preparatórios.

In [123]:
#SEU CÓDIGO COMEÇA AQUI

# mesmo procedimento, mudando apenas o subgrupo de controle. 

medias_curso = df.groupby('Curso_Prep')[['Nota_Matemática', 'Nota_Leitura', 'Nota_Redação']].mean()

diferencas = medias_curso.max() - medias_curso.min()

disciplina_mais_influenciada = diferencas.idxmax()
disciplina_mais_influenciada

disciplina_mais_influenciada

'Nota_Redação'

## QUESTÃO 9

Neste exercício deseja-se observar qual dos fatores qualitativos (Gênero, Raça/Etnia, Realização de Curso Preparatório) possui maior discrepância de desempenho entre suas categorias para a nota geral do exame. Para isso, calcule a diferença entre a maior e menor nota média para cada um dos fatores e indique qual teve maior diferença. Utilize as funções (.groupby) e (.mean).

Qual das colunas possui maior discrepância para as Notas Gerais?

In [124]:
#SEU CÓDIGO COMEÇA AQUI

# agora estamos fazendo diversos subgrupos, entre as 3 variáveis de controle, e pegando a média da Nota_Geral para cada um deles:
medias_por_grupo = df.groupby(['Gênero', 'Raça/Etnia', 'Curso_Prep'])['Nota_Geral'].mean()

# a principal diferença é que agora usamos level = [0,1,2] para considerar cada índice simultâneamente na subtração entre máximo e mínimo.
diferencas_por_fator = medias_por_grupo.groupby(level=[0, 1,2]).max() - medias_por_grupo.groupby(level=[0, 1, 2]).min()

# o resto é o mesmo.
fator_maior_diferenca = diferencas_por_fator.idxmax()
fator_maior_diferenca

('female', 'group A', 'completed')